

.project{
    grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
}
.project .team img{
    width: 40px;
    height: 40px;
    border-radius: 50%;

}
.project .team{
    min-height: 80px;
    position: relative;
}
.project .team a{
position: absolute;
left: 0;
transition: 1s;
}
.project .team a:hover img{
    transition: 1s;
    border: 1px solid rgb(212, 198, 198);


}
.project .team a:hover{
    z-index: 100;
}

.project .team a:nth-child(2){
    position: absolute;
    left: 25px;
    }
 .project .team a:nth-child(3){
        position: absolute;
        left: 50px;
 }
 .project .team a:nth-child(4){
            position: absolute;
            left: 75px;
   }
   .project .team a:nth-child(5){
        position: absolute;
         left: 100px;
  }

.project .pro > span{
    position: absolute;
    right: 10px;
    top: 0;
}

.project .pro h4{
    margin-top: -3px;
    font-weight: bold;
    color: #418696;
    font-size: x-large;
    

}
.project .pro p{
    margin-top: -8px;
    color: #7c5488f2;
    font-weight: normal;
}

.project .pro .pan{
    justify-content: flex-end;
    padding: 20px;
    border-top: 2px solid rgb(136, 146, 125);
    border-bottom: 2px solid rgb(136, 146, 125);

}
@media (max-width:767px){
    .project .pro .pan span{
        padding-left: 0;
    }
}
.project .pan span{
    margin-left: 8px;
    margin-top: 5px;
    background-color: rgb(187, 223, 223);
    padding: 5px 10px;
    border-radius: 60px;
    cursor: pointer;

}
.project .pro .info{
    padding: 20px;
    gap: 20px;
    align-items: center;
}
@media (max-width:767px){
    .project .pro .info{
        flex-direction: column;
    }
}

.project .pro .info .prog{
    width: 250px;
    height: 10px;
     position: relative;
    border-radius: 50px;
    
}

.project .pro .info .prog span{ 
    position: absolute;
    left: 0;
    top: 0;
    width: 60%;
    background-color: rgb(24, 35, 59);
    height: 100%;
    border-radius: 50px;    
    border-radius: 20px;

}





    


