
.seting{
    grid-template-columns:repeat(auto-fill,minmax(300px,1fr));
    margin-left: 20px;
     background-color: #a98ed530;
    margin-right: 20px;}
/*start site*/

.seting .site{
    background-color: #bbcbc4bf;
}
.seting .site p{
    color: 080c0bbd;
}
.seting .site textarea{
    width: 100%;
    min-height: 150px;
    outline: none;
    padding: 10px;
    border-radius: 6px;
    background-color: #442247cf;
    border: 1px solid rgb(72 42 101);
    resize: none;
    display: block;

}
    /*start genral*/
.seting :disabled{
    cursor: no-drop;
    color: #09111a;
    background-color: #f0f4f8;
}
.seting .emil{
    margin-top: -25px;
    width: calc(100% - 60px);
    display: inline-flex;
}
.toggle-checkbox{
    display: none;
}
.toggle-checkbox:checked +.toggle-switch{
    background-color: blue;
}
.toggle-checkbox:checked +.toggle-switch::before{
    left: 50px;
    transition: 0.2s;
    content: "\f00c";

}
.toggle-switch{
    background-color: #ccc;
    width: 78px;
    height: 32px;
    border-radius: 16px;
    position: relative;
    transition: 0.3s;
    cursor: pointer;
}
.toggle-switch::before{
    font-family:"Font Awesome 6 Free"; ;
    content: "\f00d";
    font-weight: 900;
    background-color: white;
    width: 24px;
    height: 24px;
    position: absolute;
    border-radius: 50%;
    top: 4px;
    left: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #aaa;
    transition: 0.3s;
}

input{

    outline: none;
    border: 1px solid #ccc;
    
}

    /*start security*/

.Security a{
    color: white;
    padding: 4px 10px;

}
/*start social*/
.social{
    background-color: #d1ccc6c4;
}
.social input{
    height: 35px;
    background-color:#f6f6f6 ;
    border: 1px solid #ddd;

    
}
.social >div:focus-within i{
    color: rgb(7, 15, 2);
    transition: 0.2s;

}

.social i{
    width: 35px;
    height: 35px;
    background-color: #f6f6f6;
    border: 1px solid #ddd;
    border-right: none;
    color: #52a97ec9;
    border-radius: 6px 0 0 6px;
    transition: 0.2s;
    }

    /*start widget*/
.Widgets{
        background-color: #96869900;
}
.Widgets .control label{
    padding-left: 15px;
    cursor: pointer;
    padding: 20px;
    position: relative;

}   
.Widgets .control input{
    appearance: none;
    --webkit-appearance: none;
} 
.Widgets .control label::before,
.Widgets .control label::after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    margin-left: -10px;
    border-radius: 50%;
    transition: 0.3s;
    margin-top: -9px;
}
.Widgets .control label::before{
    content: '';
    width: 14px;
    height: 14px;
    border: 2px solid blue;
}
.Widgets .control label::after{
    font-family:"Font Awesome 6 Free";
    content:"\f00c";
    position: absolute;
    font-weight: 900;
    background-color: blue;
    color: white;
    font-size: 12px;
    width: 18px;
    height: 18px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0) rotate(360deg); 
    transition: 0.3s;
}
.Widgets .control input:checked + label::after{
    transform: scale(1);
}

/*start Backup */
.Backup .lapel{
     border-bottom: 2px solid darkgray;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 20px;

}

.Backup input{
      appearance: none;
    --webkit-appearance: none;
}

.Backup .lapel label{
    cursor: pointer;
    padding: 20px;
    position: relative;

}

.Backup .lapel label::before,
.Backup .lapel label::after{
    position: absolute;
    content: '';
    top: 30%;
    left:-20px;
    transition: 0.3s;

}

.Backup .lapel label::after{
    position: absolute;
    content: '';
    font-family:"Font Awesome 6 Free";
    font-weight: 900;
    content:"\f00c";
    display: flex;
    width: 18px;
    height: 18px;
    font-size: 12px;
    border-radius: 50%;
    background-color: blue;
    transform: scale(0) rotate(360deg); 
    color: wheat;
    justify-content: center;
    align-items: center;
    transition: 0.3s;


}

.Backup .lapel input:checked + label:after{
    transform: scale(1);
    transition: 0.3s;
}

.Backup .lapel label::before{
    content: '';
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 1px solid green;
}
/*srtat items*/
.Backup .items input:checked + .box{
    border-color: rgb(202, 128, 128);


}

.Backup .items .box{
    position: relative;
    color: #310c0c;
    margin-right: 5px;
    background-color: #c0c0c0;
    border: 3px solid rgb(175, 155, 155);
}

.Backup .items .box label{
    cursor: pointer;
}
.Backup .items i{
    color: #5431977a;
    padding: 5px;
    font-size: 20px;}
